:root {
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 640px;
  height: 100vh;
  overflow-y: hidden;
}

#root {
  height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100%;
background: rgb(239, 233, 255);
  background: linear-gradient(180deg, rgba(239, 233, 255, 1) 0%, rgba(202, 204, 255, 1) 100%);
}

.MuiSelect-select {
  display: flex !important;
}